html {
    background: url("img/street.jpg") no-repeat center fixed;
    background-size: cover;
}

#title {
    font-size: 32px;
}

form {
    background: rgba(255, 255, 255, 0.95);
    width: 500px;
    padding: 60px 90px;
    margin: 40px auto;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#log-btn {
    padding: 8px 214px;
    color: red;
    background: black;
    cursor: pointer;
}

.infoStyle {
    padding: 8px 150px;
}

span {
    color: red;
}
